.rstyle {
  background-color: red;
  border: 3px solid black;
  padding: 7px;
  width: 50%;
}
.gstyle {
  background-color: green;
  border: 3px solid black;
  padding: 7px;
  width: 50%;
}
.bstyle {
  background-color: blue;
  border: 3px solid black;
  padding: 7px;
  width: 50%;
}
